{% extends "layout.html" %}
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js')}}"></script>
<div class="bg-image"></div>


<div style="background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 30%;
  height: 80%;
  padding: 20px;
  text-align: center;" >
    <h2>Choose mode</h2>
    <button class="button-index glow-button" data-toggle="modal"  data-target="#exampleModal">Navigation</button>
    <button id="index-map" class="button-index glow-button" style="margin-left: 0%">Mapping</button>

	<form method="post" action="/">
<input  class="button-index glow-button" type="submit"  value="create map" name="create map"/>
<input  class="button-index glow-button" type="submit" style="margin-left: 0%" value="create/apply path" name="create/apply path"/>
    


    </form>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Choose map</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="list-group" id="index-list">
                    {% for maps in map %}
                    <a class="list-group-item list-group-item-action" style="cursor:pointer;">{{maps[1]}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-load"></div>
{% endblock content %}
